<h1>Listing restaurants</h1>
 <%= link_to 'New resturant', new_style_path %>
<table>
  <tr>
    <th>Style</th>
    <th>Restaurant</th>
    <th>Address</th>
    <th>DB</th>
    <th>StudentDisc</th>
  </tr>
 
  <% @styles.each do |style| %>
    <tr>
      <td><%= style.styleType %></td>
      <td><%= style.resturant %></td>
      <td><%= style.address %></td>
      <td><% if style.db %>
            <%= "Yes" %>
          <% end %>
      </td>
      <td><% if style.studentDiscount %>
            <%= "Yes" %>
          <% end %>
      </td>
      <td><% if session[:user_id] %>
            <%= link_to 'Show', style_path(style) %>
          <% end %>
      </td>
      <td><% if session[:user_id] %>
            <%= link_to 'Edit', edit_style_path(style) %>
          <% end %>
      </td>
      <td><% if session[:user_id] %>
            <%= link_to 'Destroy', style_path(style), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', home_index_url %>