<!DOCTYPE html>
<html>
    <head>
        <style>
            table, th, td {
                border: 3px solid black;
                border-collapse: collapse;
            }
            th, td {
                font-size: 20px;
                padding: 15px;
            }
            table {
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    </head>

    <header>
        <br>
        <h2>Restaurants</h2>
        <br>
    </header>
    <br>
    <% if session[:user_id] %>
        <strong><%= link_to 'New restaurant', new_style_path %></strong>
    <% end %>
    <table>
        <tr>
            <th>Restaurant</th>
            <th>Style</th>
            <th>Address</th>
            <th>DB</th>
            <th>StudentDisc</th>
        </tr>
        
    <% @styles.each do |style| %>
        <tr>
            <td><%= link_to style.resturant, style_path(style) %></td>
            <td><%= style.styleType %></td>
            <td><%= style.address %></td>
            <td><% if style.db %>
                    <%= "Yes" %>
                <% end %>
            </td>
            <td><% if style.studentDiscount %>
                    <%= "Yes" %>
                <% end %>
            </td>
            <% if session[:user_id] %>
                <td>
                    <%= link_to 'Edit', edit_style_path(style) %>
                </td>
            <% end %>
            <% if session[:user_id] %>
                <td>
                    <%= link_to 'Destroy', style_path(style), method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
            <% end %>
        </tr>
    <% end %>
    </table>

    <strong><%= link_to 'Back', home_index_url %></strong>

</html>