<p>
    <strong>Resturant:</strong>
    <%= @style.resturant %>
</p>

<p>
    <strong>Style:</strong>
    <%= @style.styleType %>
</p>

<p>
    <strong>Address:</strong>
    <%= @style.address %>
</p>

<p>
    <strong>DB:</strong>
    <%= @style.db %>
</p>

<p>
    <strong>Student Discount:</strong>
    <%= @style.studentDiscount %>
</p>

<p>
    <strong>Average Price:</strong>
    <%= @style.avgPrice %>
</p>

<h2>Items</h2>
<%= render @style.items %>

<h2>Add an item:</h2>
<%= render 'items/form' %>

<%= link_to 'Resturants', styles_path %>