<p id="alert"><%= alert %></p>
<header><br><h1>Login</h1><br></header>
<br>
<%= form_tag sessions_path do |form| %>
    <div class="field">
        <%= label_tag :email %>
        <%= text_field_tag :email %>
    </div>
    <div class="field">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
    </div>
    <div class="field">
        <%= submit_tag "Login" %>
    </div>
<% end %>
<br>
<strong><%= link_to 'Back', home_index_url %></strong>